<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>JSPServlet</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

  
   <servlet>
    <servlet-name>IncluirUserServlet</servlet-name>
    <servlet-class>CrudBom.controller.IncluirUserServlet</servlet-class>
</servlet>
    

 <servlet>
    <servlet-name>ListarMunicipio</servlet-name>
    <servlet-class>CrudBom.controller.ListarMunicipiosServlets</servlet-class>
</servlet>
 <servlet>
    <servlet-name>ExcluirUser</servlet-name>
    <servlet-class>CrudBom.controller.ExcluirUserServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>EditarUser</servlet-name>
    <servlet-class>CrudBom.controller.EditarUserServlet</servlet-class>
</servlet>

 <servlet>
    <servlet-name>ListarUser</servlet-name>
    <servlet-class>CrudBom.controller.ConsultaUserServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ListarMunicipio</servlet-name>
    <url-pattern>/listarMunicipios</url-pattern>
</servlet-mapping>

    <servlet-mapping>
    <servlet-name>IncluirUserServlet</servlet-name>
    <url-pattern>/incluirUser</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>ListarUser</servlet-name>
    <url-pattern>/ListarUser</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>EditarUser</servlet-name>
    <url-pattern>/editarUser</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ExcluirUser</servlet-name>
    <url-pattern>/excluirUser</url-pattern>
</servlet-mapping>
</web-app>